.color-card {
    background-color: var(--white);
    padding: 10px;
}

.color-banner {
    height: 110px;
    width: 238px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.row-font {
    color: var(--text-color) !important;
}

.row-title {
    color: var(--text-color-light) !important;
    font-size: 14px;
}