.color-card {
    display: flex;
    flex-flow: column;
    background-color: var(--white);
    border-radius: 8px;
    padding: 10px;
}

.color-card-body {
    display: flex;
    flex-flow: column nowrap;
}

.color-banner {
    height: 110px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 238px;
}

.color-card-row {
    display: flex;
    justify-content: space-between;
}

.row-font {
    color: var(--text-color) !important;
    text-transform: uppercase;
}

.row-title {
    color: var(--text-color-light) !important;
    text-transform: uppercase;
    font-size: 14px;
}