.select {
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

.select:hover,
select:focus,
select:focus-visible {
    background-color: var(--offset-white-hover-24);
}

.placeholder-input {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.placeholder-input:hover {
    background-color: transparent;
}

.placeholder-input:focus {
    background-color: transparent;
}

.placeholder-input:focus-visible {
    background-color: transparent;
}

.hide-items {
    display: none !important;
}

.items {
    margin-top: 16px;
}

.arrow-icon {
    padding: 3px;
}
