.button-filled-font {
    color: var(--dark-blue);
}
.button-filled {
    background-color: var(--blue-300);
    color: #000000 !important;
    padding: 16px;
    border-radius: 8px;
    border: 0;
}
.button-filled:hover {
    background-color: var(--blue-200);
}
.button-filled:active {
    background-color: var(--blue-200);
    stroke: var(--blue-300);
    stroke-width: 4px;
}
.button-filled:focus {
    background-color: var(--blue-100);
}
.button-outlined {
    background-color: var(--blue-300-8);
    padding: 16px;
    border: 0;
    border-radius: 8px;
}
.button-outlined:hover {
    background-color: var(--blue-300-16);
}
.button-outlined:active {
    background-color: var(--blue-300-16);
    border: 4px solid var(--blue-300-24);
    border-radius: 8px;
}
.button-outlined:focus {
    background-color: var(--blue-300-24);
}
