.project-card {
    flex-grow: 2;
    background-color: rgba(0, 0, 0, 0.16);
}

.codebox-bg {
    background-color: var(--light-blue);
    flex-grow: 2;
    padding: 24px;
}
.codebox {
    background-color: var(--codebox-color);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    flex-grow: inherit;
}
.codebox-options {
    gap: 8px;
    margin: 16px 0px 0px 16px;
}
.exit-btn,
.minimize-btn,
.expand-btn {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 0;
}
.exit-btn {
    background-color: var(--mac-red);
}
.minimize-btn {
    background-color: var(--mac-yellow);
}
.expand-btn {
    background-color: var(--mac-green);
}
.codebox-text-font {
    font-family: Roboto Mono ;
    font-style: normal ;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px ;
    color: var(--white);
}
.codebox-text,
.codebox-text:hover,
.codebox-text:focus,
.codebox-text:focus-visible {
    background-color: var(--codebox-color);
    resize: none;
    margin: 24px 16px 16px 16px;
    color: var(--white);
}

.codebox-text::-webkit-scrollbar {
    width: 1em;
}

.codebox-text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.codebox-text::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    outline: 1px solid var(--offset-white);
    shape-outside: border-box;
    border-radius: 8px;
}

.project-details {
    margin: 24px;
}

.details-footer {
    margin-top: 24px;
}

.body-details-opacity {
    opacity: 0.8;
}

@media (min-width: 769px) {
    .project-card {
        min-width: 520px;
    }
    .codebox-bg {
        min-height: 288px;
    }
}
