.form-components-guide, .buttons-guide-filled, 
.buttons-guide-outlined, .icon-button-guide,
.menu-item-guide {
    color: var(--white);
}

.title-font {
    margin-bottom: 16px;
}

.shadow-guide {
    background-color: var(--white);
    padding: 32px;
    gap: 8px;
    width: fit-content;
}

.buttons-guide{
    gap: 32px;
}
