.style-guide-section {
    display: flex;
    flex-flow: column nowrap;
    gap: 48px;
}

.title-font {
    margin-bottom: 16px;
}

.colors-guide-list {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.shadow-guide {
    background-color: var(--white);
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    width: fit-content;
}

.shadow-guide-axis {
    display: flex;
    justify-content: space-between;
}