.menu-bar {
    margin-bottom: 40px;
}

@media (max-width: 343px) {
    .search-input {
        display: none !important;
    }
}

.search-input-box {
    width: 100%;
    align-content: center;
}

.search-input {
    width: inherit;
}

@media (min-width: 343px) {
    .search-mobile-icon {
        display: none;
    }
    .search-input {
        display: initial;
    }
}

@media (min-width: 768px) {
    .menu-bar {
        gap: 40px;
    }
    .mobile-bars {
        display: none;
    }
    .desktop-profile {
        display: initial !important;
    }
}

.desktop-profile {
    display: none;
}

.search-mobile-icon {
    align-self: center;
    color: var(--white);
}

.animate-search {
    animation: animate-search 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes animate-search {
    0% {
        transform: scaleX(0.4);
        transform-origin: 100% 100%;
    }
    100% {
        transform: scaleX(1);
        transform-origin: 100% 100%;
    }
}

.mobile-bars {
    align-self: center;
    color: var(--white);
}

.mobile-side-menu {
    overflow: overlay;
    position: absolute;
    right: 0;
    background-color: #2d415b;
    padding: 24px;
    height: 100%;
}
